<link rel="stylesheet" href="{{ 'owl.carousel.min.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'owl.theme.default.min.css' | asset_url }}" media="print" onload="this.media='all'">

<script src="{{ 'owl.carousel.min.js' | asset_url }}" defer="defer"></script>
<script src="{{ 'main.js' | asset_url }}" defer="defer"></script>

<section class="banner-slider-home">
    <div class="slider-home owl-carousel js-carousel" data-loop="true" data-arrows="false" data-items="1" data-margin="60">

        {%- for block in section.blocks -%}
            <div class="slider-item owl-lazy" data-src="{{block.settings.image | image_url}}">
                <div data-animation="fadeInLeft" class="banner-inner">
                    <h6>
                        TOP
                    </h6>
                    <h6 class="mb-md-50">
                        TRENDY
                    </h6>
                    <h1 class="mb-md-50">
                        {{block.settings.title | escape}}
                    </h1>
                    <p class="mb-md-80">
                        {{block.settings.desc | escape}}
                    </p>
                    <h6 style="font-weight: 800;"><a href="/shop">BUY NOW</a></h6>
                </div>
            </div>
        {%- endfor -%}
        
    </div>
</section>

{% schema %}
{
    "name": "Banner Home",
    "tag": "section",
    "blocks": [
        {
            "type": "heading",
            "name": "Banner image",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Banner title"
                },
                {
                    "type": "textarea",
                    "id": "desc",
                    "label": "Banner Description"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Chose image"
                }
            ]
        }
    ]
}
{% endschema %}